<section>
  <mat-toolbar *ngIf="!mobile">
    <div>
      <img src="assets/logo.svg" alt="logo" />
      <button mat-button>Features</button>
      <button mat-button>Pricing</button>
      <button mat-button>Resources</button>
    </div>
    <div>
      <button mat-button>Login</button>
      <button mat-button class="sign-up-button">Sign Up</button>
    </div>
  </mat-toolbar>
  <mat-toolbar *ngIf="mobile">
    <img src="assets/logo.svg" alt="logo" />
    <button mat-button (click)="onClick($event)">
      <img src="assets/icon-hamburger.svg" alt="hamburger" />
    </button>
  </mat-toolbar>
  <app-mobile-menu *ngIf="mobile && showMenu"></app-mobile-menu>
</section>
