<section>
  <div class="container">
    <h1>Advanced Statistics</h1>
    <p>
      Track how your links are performing across the web with our
      advanced statistics dashboard.
    </p>
    <div class="items">
      <app-statistics-item [image]="items[0].image" [header]="items[0].header" [text]="items[0].text" class="item-1"></app-statistics-item>
      <app-statistics-item [image]="items[1].image" [header]="items[1].header" [text]="items[1].text" class="item-2"></app-statistics-item>
      <app-statistics-item [image]="items[2].image" [header]="items[2].header" [text]="items[2].text" class="item-3"></app-statistics-item>
    </div>
    <hr>
  </div>
</section>
